<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403758604326-5irfnloccm1slevta894co1svvjf9top.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403758604326-5irfnloccm1slevta894co1svvjf9top</string>
	<key>API_KEY</key>
	<string>AIzaSyB2eiCRC_iaITozEl9Sohit-NiP1PltK74</string>
	<key>GCM_SENDER_ID</key>
	<string>403758604326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CSCI150G2.Food-Truck-Hunter</string>
	<key>PROJECT_ID</key>
	<string>food-truck-hunter-38360</string>
	<key>STORAGE_BUCKET</key>
	<string>food-truck-hunter-38360.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403758604326:ios:36ece2d676dba2c37f46e7</string>
	<key>DATABASE_URL</key>
	<string>https://food-truck-hunter-38360.firebaseio.com</string>
</dict>
</plist>