 
.DS_Store
Food Truck Hunter.xcworkspace/xcuserdata/martin.xcuserdatad/UserInterfaceState.xcuserstate
Food Truck Hunter.xcworkspace/xcuserdata/suevang.xcuserdatad/UserInterfaceState.xcuserstate
*.log
